html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
}

.container {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
}

#board {
    margin: auto;
}

#generationNumber {
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    top: 0px;
    left: 0px;
}

.control-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#animControl {
    
}